{% extends "layout.html" %}

{% block title  %}
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid px-0 mt-5">
  <div class="container">
    <h1 class="display-4">Legal Files</h1>
    <p class="lead">Your one stop solution for all legal problems</p>
    <hr class="my-4">
    <p>.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-gavel "></i>Get started</a>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm">
        <h3>With our application,legal professionals can</h3>
      </div>
    </div>
  </div>
  <hr/>
  <div style="margin-left: 30%;">
    <div class="row">
      <div class="col-sm">
        <li><b>Standarlize</b> day to day operations making your workday smoother.</li>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <li><b>Launch workflows </b>quickly to improve staff productivity.</li>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <li><b>Ease</b> their workflow to keep<b>track</b> their clients.</li></li>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <li><b>Communicate </b>with your client with the help of <b>web-based interaction</b></li>
      </div>
    </div>
  </div>
</div>
{% endblock %}