{% extends "layout.html" %}

{% block title  %}
	Court Case Management System
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="#">E-Court System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
	    </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
		    <a class="nav-item nav-link" href="#">Login</a>
		    <a class="nav-item nav-link" href="#">Register</a>
            </div>
          </div>
        </div>
      </nav>
{% endblock %}

