{% extends "layout.html" %}

{% block title  %}
	Court Case Management System
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid px-0">
  <div class="container">
  <h1 class="display-4">Legal Files</h1>
  <p class="lead">Your one stop solution for all legal problems</p>
  <hr class="my-4">
  <p>.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-gavel "></i>Get started</a>
    </div>
</div>
<section class="container-fluid pt-5">
  <div class="container">
<div class="mx-auto">
<div class="text-center">
  <div class="border-bottom">
<h3>With our application,legal professionals can:</h3>
    </div>
<div class="pl-5" style="margin-left: 200px">
<ul class="mt-3 text-left">
  <li><span class="font-weight-bold">Standarlize</span> day to day operations making your workday smoother.</li>
  <li><span class="font-weight-bold">Launch workflows</span> quickly to improve staff productivity.</li>
  <li><span class="font-weight-bold">Ease</span> their workflow to keep <span class="font-weight-bold">track</span> their clients.</li>
  <li><span class="font-weight-bold">Communicate</span> with your client with the help of <span class="font-weight-bold">web-based interaction</span></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4">
  <img width="500" height="310"class="img-fluid" src="#
" alt="">
</div>
</div>
</section>
{% endblock %}